{%extends 'base.html'%}
{%load static%}

	{%block nav1%}
		<a id="mobile_btn" href="javascript:void(0);">
			<span class="bar-icon">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</a>
	{%endblock%}

	{%block nav2%}
	<div class="main-menu-wrapper">
		<div class="menu-header">
			<a href="#" class="menu-logo">
				<img src="{%static 'assets/img/logo.png'%}" class="img-fluid" alt="Logo">
			</a>
			<a id="menu_close" class="menu-close" href="javascript:void(0);">
				<i class="fas fa-times"></i>
			</a>
		</div>
		<ul class="main-nav">
			<li class="extra">
				<a href="#">
					<span class="user-img">
						<img class="rounded-circle" src="{{i}}" width="31" alt="{{n}} {{p}}">
					</span>
				</a>
			</li>
			<li class="active">
				<a href="{%url 'H_patient'%}">Acceuil</a>
			</li>
			<li><a href="{%url 'FavDoc'%}">Meuilleures Cabinets</a></li>
			<li><a href="{%url 'GetListRV'%}">RDVs</a></li>
			<li class="extra"><a href="#">Notifications</a></li>
			<li class="extra"><a href="{%url 'Logout'%}">Log out</a></li>
		</ul>		 
	</div>
	{%endblock%}
	{%block nav3%}
		<!-- Notifications -->
		<li class="nav-item dropdown">
			<a href="#" class="dropdown-toggle nav-link" onclick="delBadge()" data-toggle="dropdown" style="transition: all 0.3s;">
				<i class="fas fa-bell" style="font-size: 25px; color: gray;"></i> <span id="badge" class="badge alert-success" style="transition: opacity 0.3s ease;"></span>
			</a>
			<div class="dropdown-menu box dropdown-menu-end notifications"> 
				<div class="topnav-dropdown-header">
					<span class="notification-title">Notifications</span>
					<!-- <a href="javascript:void(0)" class="clear-noti"> Clear All </a> -->
				</div>
				<div class="noti-content" style="height: 400px; overflow-y: scroll;">
					<ul class="notification-list" id="notifs">
						<li class="notification-message">
							<a href="#">
								<div class="media">
									<p>pas de notifications pour le moment</p>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<!-- <div class="topnav-dropdown-footer">
					<a href="#">voir tous les Notifications</a>
				</div> -->
			</div>
		</li>
		<!-- /Notifications -->
		
		<!-- User Menu -->
		<li class="nav-item dropdown has-arrow logged-item">
			<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
				<span class="user-img">
					<img class="rounded-circle" src="{{i}}" width="31" alt="{{n}} {{p}}">
				</span>
			</a>
			<div class="dropdown-menu dropdown-menu-end">
				<div class="user-header">
					<div class="avatar avatar-sm">
						<img src="{{i}}" alt="User Image" class="avatar-img rounded-circle">
					</div>
					<div class="user-text">
						<h6>{{n}} {{p}}</h6>
						<p class="text-muted mb-0">Patient</p>
					</div>
				</div>
				<a class="dropdown-item" href="{%url 'profil_patient'%}">Paramètres du profile</a>
				<a class="dropdown-item" href="{%url 'Logout'%}">Logout</a>
			</div>
		</li>
		<!-- /User Menu -->
		
	<!-- /User Menu -->
	{%endblock%}
{%block Breadcrumb%}
{%include 'messages.html'%}
<!-- Home Banner -->
		<section class="section section-search">
						<div class="container-fluid">
							<div class="banner-wrapper">
								<div class="banner-header text-center">
									<h1>Rechercher un médecin, prendre rendez-vous</h1>
									<p>Découvrir les meuilleures médecins, à la ville la plus proche à vous</p>
								</div>
								
								<!-- Search -->
								<div class="search-box">
									<form action="{%url 'cherCabinet'%}" class="justify-content-center" method="GET">
										{% csrf_token %}
										<div class="form-group">
											<!-- there was an id named select here  -->
											<select class="form-control select" aria-label="Default select example" name="wilaya"> 
												<option>Wilaya</option>
												{%for wilaya in w%}
												<option value="{{wilaya.wilaya}}">{{wilaya.wilaya}}</option>
												{%endfor%}
											</select>
											<span class="form-text">choisir la wilaya</span>
										</div>
										<div class="form-group">
											<!-- there was an id named select here  -->
											<select class="form-control select" aria-label="Default select example" name="specialite">
												<option>Spécialité</option>
												{%for spec in s%}
												<option value="{{spec.specialite}}">{{spec.specialite}}</option>
												{%endfor%}
											</select>
											<span class="form-text">choisir la spécialité</span>
										</div>
										<div class="form-group search-info">
											<input type="text" class="form-control" placeholder="Chercher médecins et cabinets" name="nomCabinet">
											<span class="form-text">Ex : Dr mohamed ou Dr Eslem etc</span>
										</div>
										<button type="submit" class="btn btn-primary search-btn"><i class="fas fa-search"></i> <span>Search</span></button>
									</form>
								</div>
								<!-- /Search -->
								<!-- <div>
									{{context}}
								</div> -->
							</div>
						</div>
		</section>			
<!-- /Home Banner -->
{%endblock%}

{%block scripts%}
<!-------------------------------- notifications script ------------------------------>
<script>
    var img_url="";
    function delBadge(){
        var badge = document.getElementById('badge');
        badge.style.opacity = 0;
        setTimeout(function(){
            badge.style.display = 'none';
        }, 350)
    }
    function dayOfWeek(date){
        week = ["dimenche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"];
        return week[date];
    }
    function run(notitification, element, date) {
  
        // Creating Our XMLHttpRequest object 
        var xhr = new XMLHttpRequest();
        // Making our connection  
        var url = 'http://127.0.0.1:8000/getUser/'+notitification.fields.sender; 
        xhr.open("GET", url, true);

        // function execute after request is successful 
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                parser = new DOMParser();
                a = parser.parseFromString(this.responseText,"text/xml");
                img_url = a.getElementsByTagName("object")[0].childNodes[0].childNodes[0].nodeValue
                img_url = "http://127.0.0.1:8000/media/" + img_url;
                element.innerHTML +='<li class="notification-message nothing">'
                                    +	'<a href="#">'
                                    +		'<div class="media">'
                                    +			'<span class="avatar avatar-sm" style="min-width:40px;">'
                                    +				'<img class="avatar-img rounded-circle" alt="User Image" src="'+img_url+'"></img>'
                                    +			'</span>'
                                    +			'<div class="media-body">'
                                    +				'<p class="noti-details">'+notitification.fields.content+'</p>'
                                    +				'<p class="noti-time"><span class="notification-time">'+dayOfWeek(date.getDay())+' '+date.getDate()+'-'+date.getMonth()+'-'+date.getFullYear()+'</span></p>'
                                    +			'</div>'
                                    +		'</div>'
                                    +	'</a>'
                                    +'</li>';
            }
        }
        // Sending our request 
        xhr.send();
    }
    function prep_notif(){
        if( !{{empty}}){
            var element = document.getElementById('notifs');
            var badge = document.getElementById('badge');
            var notifs = JSON.parse('{{notif|safe}}');
            var nbr_news=0;
            for(let i=0; i<notifs.length; i++){
                if(notifs[i].fields.new == true) nbr_news++;
            }
            if(nbr_news == 0){
                delBadge()
            }
            else{
                badge.innerHTML = nbr_news;
            }
            var max = 4;
            if(nbr_news > 4) max = nbr_news;
            element.innerHTML = "";
            for(let i=0; i<notifs.length; i++){
                var temp = Date.parse(notifs[i].fields.Date);
                var date = new Date(temp);
                run(notifs[i], element, date);
            }
        }
    }
    
</script>

<!-- side nav bar script -->
<script>
	var extras = document.getElementsByClassName('extra');
	var w = window.innerWidth;
	for(let i=0;i<extras.length;i++){
		if(w <= 575){
		extras[i].style.display = "list-item";
		}
		else{
			extras[i].style.display = "none";
		}
	}
	function addElementNav(){
		var w = window.innerWidth;
			var extras = document.getElementsByClassName('extra');
			for(let i=0;i<extras.length;i++){
				if(w <= 575){
				extras[i].style.display = "list-item";
				}
				else{
					extras[i].style.display = "none";
				}
			}
	}
</script>
{%endblock%}