{%extends 'base.html'%}
{%load static%}
	{%block nav1%}
		<a id="mobile_btn" href="javascript:void(0);">
			<span class="bar-icon">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</a>
	{%endblock%}

	{%block nav2%}
	<div class="main-menu-wrapper">
		<div class="menu-header">
			<a href="#" class="menu-logo">
				<img src="{%static 'assets/img/logo.png'%}" class="img-fluid" alt="Logo">
			</a>
			<a id="menu_close" class="menu-close" href="javascript:void(0);">
				<i class="fas fa-times"></i>
			</a>
		</div>
		<ul class="main-nav">
			<li class="active">
				<a href="{%url 'H_patient'%}">Acceuil</a>
			</li>
			<li><a href="{%url 'FavDoc'%}">Meilleures Cabinets</a></li>
			<li><a href="{%url 'GetListRV'%}">RDVs</a></li>
		</ul>		 
	</div>
	{%endblock%}

	{%block nav3%}
	<!-- Notifications -->
	<li class="nav-item dropdown">
		<a href="#" class="dropdown-toggle nav-link" onclick="delBadge()" data-toggle="dropdown" style="transition: all 0.3s;">
			<i class="fas fa-bell" style="font-size: 25px; color: gray;"></i> <span id="badge" class="badge alert-success" style="transition: opacity 0.3s ease;"></span>
		</a>
		<div class="dropdown-menu box dropdown-menu-end notifications">
			<div class="topnav-dropdown-header">
				<span class="notification-title">Notifications</span>
				<!-- <a href="javascript:void(0)" class="clear-noti"> Clear All </a> -->
			</div>
			<div class="noti-content" style="height: 400px; overflow-y: scroll;">
				<ul class="notification-list" id="notifs">
					<li class="notification-message">
						<a href="#">
							<div class="media">
								<p>Pas de notifications pour le moment</p>
							</div>
						</a>
					</li>
				</ul>
			</div>
			<!-- <div class="topnav-dropdown-footer">
				<a href="#">Voir tous les Notifications</a>
			</div> -->
		</div>
	</li>
	<!-- /Notifications -->

	<!-- User Menu -->
	<li class="nav-item dropdown has-arrow logged-item">
		<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
			<span class="user-img">
				<img class="rounded-circle" src="{{u.img_patient.url}}" width="31" onerror="this.src='{%static 'assets/img/anonymous_user.jpg'%}';">
			</span>
		</a>
		<div class="dropdown-menu dropdown-menu-end">
			<div class="user-header">
				<div class="avatar avatar-sm">
					<img src="{{u.img_patient.url}}" onerror="this.src='{%static 'assets/img/anonymous_user.jpg'%}';" class="avatar-img rounded-circle">
				</div>
				<div class="user-text">
					<h6>{{u.nomPatient}} {{u.prenomPatient}}</h6>
					<p class="text-muted mb-0">Patient</p>
				</div>
			</div>
			<a class="dropdown-item active" href="{%url 'profil_patient'%}">Paramètres du profile</a>
			<a class="dropdown-item" href="{%url 'Logout'%}">Logout</a>
		</div>
	</li>
	<!-- /User Menu -->
	{%endblock%}

    {%block Breadcrumb%}
    <div class="breadcrumb-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index-2.html">Acceuil</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Paramètres du profile</li>
                        </ol>
                    </nav>
                    <h2 class="breadcrumb-title">Paramètres du profile</h2>
                </div>
            </div>
        </div>
    </div>
    {%endblock%}
	
    {%block content%}
    <!-- Page Content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
					
						<!-- Profile Sidebar -->
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
							<div class="profile-sidebar">
								<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
										<a href="#" class="booking-doc-img">
											<img src="{{u.img_patient.url}}" onerror="this.src='{%static 'assets/img/anonymous_user.jpg'%}';">
										</a>
										<div class="profile-det-info">
											<h3>{{u.nomPatient}} {{u.prenomPatient}} </h3>
											<div class="patient-details">
												<h5><i class="fas fa-birthday-cake"></i> {{u.date_naiss}}, {{age}}</h5>
												<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{u.Address}}, {{u.wilaya}}</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="dashboard-widget">
									<nav class="dashboard-menu">
										<ul>
											<li>
												<a href="{%url 'H_patient'%}">
													<i class="fas fa-columns"></i>
													<span>Acceuil</span>
												</a>
											</li>
											<li>
												<a href="{%url 'FavDoc'%}">
													<i class="fas fa-bookmark"></i>
													<span>Meilleures Cabinets</span>
												</a>
											</li>
											<li class="active">
												<a href="{%url 'profil_patient'%}">
													<i class="fas fa-user-cog"></i>
													<span>Paramètres du profile</span>
												</a>
											</li>
											<li>
												<a href="{%url 'Logout'%}">
													<i class="fas fa-sign-out-alt"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>

							</div>
						</div>
						<!-- /Profile Sidebar -->
						
						<div class="col-md-7 col-lg-8 col-xl-9">
							<div class="card">
								<div class="card-body">
									<!-- Profile Settings Form -->
									<form method="POST" action="{%url 'update_profil_patient'%}" enctype="multipart/form-data">
                                        {% csrf_token %}
										<div class="row form-row">
											<div class="col-12 col-md-12">
												<div class="form-group">
													<div class="change-avatar">
														<div class="profile-img">
															<img src="{{u.img_patient.url}}" onerror="this.src='{%static 'assets/img/anonymous_user.jpg'%}';">
														</div>
														<div class="upload-img">
															<div class="change-photo-btn">
																<span><i class="fa fa-upload"></i> Upload Photo</span>
																<input type="file" class="upload" name="img_patient">
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-12 col-md-6">
												<div class="form-group">
													<label>Nom</label>
													<input type="text" class="form-control" value="{{u.nomPatient}}" name="nomPatient">
												</div>
											</div>
											<div class="col-12 col-md-6">
												<div class="form-group">
													<label>prénom</label>
													<input type="text" class="form-control" value="{{u.prenomPatient}}" name="prenomPatient">
												</div>
											</div>
											<div class="col-12 col-md-6">
												<div class="form-group">
													<label>date de naissance</label>
													<div class="cal-icon">
														<input type="text" class="form-control datetimepicker" value="{{u.changeFormat}}" name="date_naiss">
													</div>
												</div>
											</div>
											<div class="col-12 col-md-6">
												<div class="form-group">
													<label>Sang</label>
													<select class="form-control select" name="blood"> 
														{%if u.blood == "A-"%}<option value="A-" selected>A-</option>{%else%}<option value="A-">A-</option>{%endif%}
														{%if u.blood == "A+"%}<option value="A+" selected>A+</option>{%else%}<option value="A+">A+</option>{%endif%}
														{%if u.blood == "B-"%}<option value="B-" selected>B-</option>{%else%}<option value="B-">B-</option>{%endif%}
														{%if u.blood == "B+"%}<option value="B+" selected>B+</option>{%else%}<option value="B+">B+</option>{%endif%}
														{%if u.blood == "AB-"%}<option value="AB-" selected>AB-</option>{%else%}<option value="AB-">AB-</option>{%endif%}
														{%if u.blood == "AB+"%}<option value="AB+" selected>AB+</option>{%else%}<option value="AB+">AB+</option>{%endif%}
														{%if u.blood == "O-"%}<option value="O-" selected>O-</option>{%else%}<option value="O-">O-</option>{%endif%}
														{%if u.blood == "O+"%}<option value="O+" selected>O+</option>{%else%}<option value="O+">O+</option>{%endif%}
													</select>
												</div>
											</div>
											<div class="col-12">
												<div class="form-group">
												<label>Genre</label>
												<select class="form-control select" name="genre">
													<option>Select</option>
                                            		{%if u.genre == "male"%}
														<option selected>male</option>
														<option>female</option>
                                            		{%elif u.genre == "female"%}
														<option>male</option>
														<option selected>female</option>
                                            		{%else%}
														<option>male</option>
														<option>female</option>
													{%endif%}
												</select>
												</div>
											</div>
											<div class="col-12 col-md-6">
												<div class="form-group">
													<label>Email</label>
													<input type="email" class="form-control" value="{{u.emailPatient}}" readonly>
												</div>
											</div>
											<div class="col-12 col-md-6">
												<div class="form-group">
													<label>Téléphone</label>
													<input type="text" value="{{u.telephone}}" class="form-control" name="telephone">
												</div>
											</div>
											<div class="col-12">
												<div class="form-group">
												<label>Addresse</label>
													<input type="text" class="form-control" value="{{u.Address}}" name="Address">
												</div>
											</div>
											<div class="col-12 col-md-6">
												<div class="form-group">
													<label>Wilaya</label>
													<select class="form-select select select-control select-option" aria-label="Default select example" onchange="getCommune()" id="select" name="wilaya">
														<option>select</option>
														{%for wilaya in w%}
															{% if wilaya.wilaya == u.wilaya.wilaya%}
															<option value="{{wilaya.id}}" selected>{{wilaya.wilaya}}</option>
															{%else%}
															<option value="{{wilaya.id}}">{{wilaya.wilaya}}</option>
															{%endif%}
														{%endfor%}
													</select>
												</div>
											</div>
											<div class="col-12 col-md-6">
												<div class="form-group">
													<label>Commune</label>
													<select class="form-select select select-control select-option" aria-label="Default select example" id="select_commune" name="commune">
													</select>
												</div>
											</div>
										</div>
										<div class="submit-section">
											<button type="submit" class="btn btn-primary submit-btn">Sauvgarder</button>
										</div>
									</form>
									<!-- /Profile Settings Form -->
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
    {%endblock%}

	{%block scripts%}
	<!-- get commune script -->
	<script>
		var communes = JSON.parse('{{c|safe}}');
		var user = JSON.parse('{{u_json|safe}}');
		var element_commune = document.getElementById('select_commune');
		var element_wilaya = document.getElementById('select');
		choice = element_wilaya.options[element_wilaya.selectedIndex].value;
		for(let i=0;i<communes.length;i++){
		 	if(communes[i].fields.wilaya == choice){
		 		option = document.createElement("option");
                 option.textContent = communes[i].fields.commune;
                 option.value = communes[i].pk;
                 if(user[0].fields.commune == communes[i].pk){
					option.selected = true;
				 }
                 element_commune.appendChild(option);
		 	}
		}
		function removeAll(){
			while (element_commune.options.length > 0) {
        		element_commune.remove(0);
    		}
		}
		function getCommune(){
			removeAll();
			choice = element_wilaya.options[element_wilaya.selectedIndex].value;
			for(let i=0;i<communes.length;i++){
		 	if(communes[i].fields.wilaya == choice){
		 		option = document.createElement("option");
                 option.textContent = communes[i].fields.commune;
                 option.value = communes[i].pk;
                 if(user[0].fields.commune == communes[i].pk){
					option.selected = true;
				 }
                 element_commune.appendChild(option);
		 	}
		}
		}
	</script>

	<!-- notifications script -->
	<script>
		var img_url="";
		function delBadge(){
			var badge = document.getElementById('badge');
			badge.style.opacity = 0;
			setTimeout(function(){
				badge.style.display = 'none';
			}, 350)
		}
		function dayOfWeek(date){
			week = ["dimenche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"];
			return week[date];
		}
		function run(notitification, element, date) {
	  
			// Creating Our XMLHttpRequest object 
			var xhr = new XMLHttpRequest();
	
			// Making our connection  
			var url = 'http://127.0.0.1:8000/getUser/'+notitification.fields.sender;
			xhr.open("GET", url, true);
	
			// function execute after request is successful 
			xhr.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					parser = new DOMParser();
					a = parser.parseFromString(this.responseText,"text/xml");
					img_url = a.getElementsByTagName("object")[0].childNodes[0].childNodes[0].nodeValue
					img_url = "http://127.0.0.1:8000/media/" + img_url;
					element.innerHTML +='<li class="notification-message nothing">'
										+	'<a href="#">'
										+		'<div class="media">'
										+			'<span class="avatar avatar-sm">'
										+				'<img class="avatar-img rounded-circle" alt="User Image" src="'+img_url+'"></img>'
										+			'</span>'
										+			'<div class="media-body">'
										+				'<p class="noti-details">'+notitification.fields.content+'</p>'
										+				'<p class="noti-time"><span class="notification-time">'+dayOfWeek(date.getDay())+' '+date.getDate()+'-'+date.getMonth()+'-'+date.getFullYear()+'</span></p>'
										+			'</div>'
										+		'</div>'
										+	'</a>'
										+'</li>';
				}
			}
			// Sending our request 
			xhr.send();
		}
		function prep_notif(){
			if( !{{empty}}){
				var element = document.getElementById('notifs');
				var badge = document.getElementById('badge');
				var notifs = JSON.parse('{{notif|safe}}');
				var nbr_news=0;
				for(let i=0; i<notifs.length; i++){
					if(notifs[i].fields.new == true) nbr_news++;
				}
				if(nbr_news == 0){
					delBadge()
				}
				else{
					badge.innerHTML = nbr_news;
				}
				var max = 4;
				if(nbr_news > 4) max = nbr_news;
				element.innerHTML = "";
				for(let i=0; i<notifs.length; i++){
					var temp = Date.parse(notifs[i].fields.Date);
					var date = new Date(temp);
					run(notifs[i], element, date);
				} 
			}
		}
		
	</script>
	{%endblock%}